body{
    overflow: hidden
}

.outback{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%
}

.innerback{
    display: table-cell;
    vertical-align: middle
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 230px;

    padding: 20px;
    text-align: center;

    background-color: #fff;
    opacity: .8;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 4px 0px #888;
    -webkit-box-shadow: 0px 0px 4px 0px #888;
    box-shadow: 0px 0px 4px 0px #888
}

.date{
      display: inline-block;
      vertical-align: middle;
      line-height: normal
}

.nextday, .dayname{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 30px;
    padding: 5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    color: #000
}
