body{
    overflow: hidden
}

.outback{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1
}

.innerback{
    display: table-cell;
    vertical-align: middle
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 290px;

    padding: 20px;
    text-align: center;

    background-color: #fff;
    opacity: .9;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 4px 0px #888;
    -webkit-box-shadow: 0px 0px 4px 0px #888;
    box-shadow: 0px 0px 4px 0px #888
}

.date{
      display: inline-block;
      vertical-align: middle;
      line-height: normal
}

.text{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}

.nextday, .dayname{
    font-size: 30px;
    padding: 5;
    font-weight: bold;
    color: #2980b9;
    opacity: 1
}

.time{
    float: left;
    margin: 20px;
    font-size: 15px;
    color: #fff
}

.header{
    float: right;
    margin: 20px;
    color: #fff;
    text-align: right
}

.header a{
    text-decoration: none;
    color: #fff
}

.title{
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #95a5a6;
    text-align: left
}
